* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared styles */

.primary-btn {
    color:#FFFFFF ;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

/* header style start */
header {
    background-image: url('../Assets/Hero-bg.png');
    padding-bottom: 152px;
}
/* nav style start */
.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    padding: 75px 0;
}

.nav-logo {
    color: #4E47FF;
    font-size: 34px;
      font-family: "Inter", sans-serif;
      font-weight: 900;
      text-transform: uppercase;

}

/* banner section start */

.banner {
    max-width: 905px;
    margin: auto;
    text-align: center;
   margin-top: 158px;
    
}

.banner-title {
    font-size: 65px;
}

.stay-focus-btn {
    margin-top: 37px;
}
/* main section style start */

main {
    max-width: 1140px;
    margin: auto;
}
main section {
    margin-top: 116px;
}

/* action section style start */

.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
}

.action-title {
    font-size: 42px ;
    font-weight: 700;
}

.action-description {
    font-size: 24px;
    color:rgba(37, 36, 50, .50);
    margin: 23px 0;
}

.action-section img {
    max-width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* productive user section start */

.productive-user {
background-color: rgba(77, 71, 255, 0.1);
border-radius: 24px;
padding: 42px 150px;
}

.user-title {
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    text-align: center;
}

.user-quantity {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
          font-family: "Inter", sans-serif;

}

.quantity-number {
    color: #4E47FF;
      font-size: 80px;
      font-weight: 700;
}

.quantity-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-align: center;
}
